<!-- <p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p> -->
<h2>Bills</h2>
<div class="row">
	<div class="col-6">
		<div class=" form-group" ng-repeat="item in bill.Items">
			<ng-form name="billingItemsForm">
			<input type="text" placeholder="Item Name" class="form-control" ng-model="item.name" required>
			<input type="number" placeholder="Quantity" class="form-control" ng-model="item.quantity" required>
			<input type="number" placeholder="Rate" class="form-control" ng-model="item.rate" required>
			</ng-form>
			<button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
		</div>
		<button class="addfields" ng-click="addNewChoice()">Add another Item</button>
	</div>
	<input class="col-6" type="number" placeholder="Discount" ng-model="bill.Discount">
	<input class="col-6" type="number" placeholder="Tax" ng-model="bill.Tax">
	<div class="col-6">
		Customer:
		<select ng-model="bill.CustomerId">
			<option ng-repeat="customer in customers"  value="{{customer._id}}">{{customer.Name}}</option>
		</select>
	</div>
	<span class="col-6">
		<button class="col-12" ng-click="addNewBill()">Add Bill</button>
	</span>
</div>

	<div ui-grid="{ data: myData }" class="myGrid"></div>